# Finformer - Model

In [1]:
import os
import requests
from dotenv import load_dotenv
import json
import pandas as pd

from tqdm import tqdm, trange

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
load_dotenv()

DATA_PATH = './data'
os.makedirs(DATA_PATH, exist_ok=True)

news_path = os.path.join(DATA_PATH, 'data-news-intersection.csv')
prices_path = os.path.join(DATA_PATH, 'data-prices-intersection.csv')

In [3]:
!pwd

/Users/ruastg1/Documents/study/sentiment/finformer

In [68]:
from finformer.data.fmp import load_data, collect_data

In [69]:
load_data()

537 ['WLTW', 'EG', 'VLTO', 'PM', 'ETSY', 'NCLH', 'AKAM', 'COST', 'ERI', 'ENPH', 'BRO', 'APD', 'PTC', 'EMR', 'KEY', 'SBUX', 'TGT', 'KHC', 'ALB', 'ADI', 'VRTX', 'EMN', 'EIX', 'ZTS', 'GE', 'FTV', 'EW', 'KMB', 'NWS', 'BKNG', 'BWA', 'FITB', 'FSLR', 'UDR', 'VRSK', 'LOW', 'FOXA', 'GOOG', 'HII', 'APA', 'ES', 'LRCX', 'STE', 'HSIC', 'DXCM', 'CCEP', 'ON', 'PHM', 'OXY', 'ATO', 'BLDR', 'MPC', 'CSX', 'SWKS', 'PNR', 'FICO', 'KEYS', 'MO', 'AMD', 'HRL', 'NWSA', 'VLO', 'BSX', 'EQIX', 'HSY', 'PG', 'ESS', 'ORCL', 'ULTA', 'OKE', 'MRO', 'NVDA', 'ALLE', 'TRMB', 'DAL', 'ADP', 'PKG', 'DE', 'O', 'DUK', 'VIAC', 'FI', 'TSN', 'MS', 'GEHC', 'CAH', 'DIS', 'KIM', 'DVN', 'VTRS', 'ILMN', 'LVS', 'HUM', 'PEP', 'OMC', 'ECL', 'NTRS', 'NLOK', 'CI', 'SLB', 'SPGI', 'VICI', 'SCHW', 'HIG', 'NRG', 'TT', 'IEX', 'CINF', 'LYV', 'CMS', 'PEG', 'MSFT', 'TRGP', 'VRSN', 'EQT', 'LLY', 'ICE', 'NTAP', 'ABT', 'MMM', 'AME', 'CFG', 'CHD', 'LNT', 'XEL', 'REG', 'GPN', 'WMT', 'HPQ', 'AMT', 'JNJ', 'IQV', 'RL', 'AVB', 'FANG', 'JKHY', 'C', 'LHX', 'CZR', 'CPT', 'TEL', 'WRB', 'MNST', 'ETR', 'GD', 'GS', 'DD', 'INCY', 'STT', 'PLD', 'NFLX', 'EXPE', 'FMC', 'BAX', 'EA', 'CTLT', 'JBL', 'RCL', 'VMC', 'META', 'FB', 'LB', 'BIIB', 'TRV', 'DGX', 'LMT', 'COP', 'COR', 'SPLK', 'HLT', 'SIRI', 'HPE', 'STZ', 'NI', 'KMI', 'CPRT', 'NKE', 'MDT', 'CME', 'PANW', 'GEN', 'ABNB', 'NDSN', 'LW', 'TJX', 'TAP', 'ARNC', 'IT', 'LKQ', 'AJG', 'MAS', 'HAL', 'MU', 'BDX', 'CARR', 'WY', 'MRVL', 'POOL', 'LYB', 'BLL', 'ROP', 'MGM', 'WRK', 'DVA', 'MET', 'TDY', 'PSA', 'WDC', 'DASH', 'IVZ', 'ACGL', 'UNH', 'AFL', 'INTC', 'BBY', 'SO', 'AVY', 'RMD', 'AWK', 'DOC', 'MELI', 'TROW', 'SNPS', 'PGR', 'NUE', 'KVUE', 'CBRE', 'KR', 'LDOS', 'BF-B', 'D', 'ASML', 'SRE', 'PSX', 'AXP', 'AIG', 'NEE', 'CB', 'SYK', 'AAL', 'CL', 'ELV', 'MRK', 'CAG', 'PDD', 'AXON', 'PODD', 'HST', 'UPS', 'LH', 'STX', 'GL', 'AMZN', 'AIZ', 'LIN', 'HUBB', 'TXN', 'NXPI', 'TSCO', 'COG', 'OTIS', 'LEN', 'ARE', 'WST', 'DTE', 'MSI', 'CHTR', 'MHK', 'ROST', 'BK', 'WDAY', 'CPAY', 'UBER', 'AES', 'MSCI', 'BRK-B', 'AMCR', 'MDB', 'TER', 'DOW', 'BIO', 'BMY', 'UHS', 'MCK', 'WEC', 'WMB', 'TDG', 'MCHP', 'SPG', 'ALGN', 'CBOE', 'CMG', 'AMP', 'PRU', 'K', 'CMA', 'MMC', 'CHRW', 'ZBH', 'KLAC', 'CSGP', 'AON', 'BXP', 'MCD', 'KMX', 'HOLX', 'HD', 'DPZ', 'CNP', 'SNA', 'NSC', 'MYL', 'MDLZ', 'DLTR', 'CE', 'CNC', 'FRT', 'MAA', 'WBA', 'NDAQ', 'KO', 'ACN', 'PYPL', 'ADBE', 'RHI', 'GLW', 'MKC', 'BG', 'WBD', 'EPAM', 'TMUS', 'AAPL', 'JCI', 'MAR', 'HCA', 'TSLA', 'ROK', 'PCAR', 'YUM', 'WAT', 'DLR', 'EVRG', 'IR', 'WAB', 'EOG', 'MA', 'AEP', 'IAC', 'WYNN', 'FFIV', 'HBAN', 'CMCSA', 'BA', 'FLT', 'CTRA', 'IP', 'RF', 'F', 'PCG', 'CTAS', 'AZO', 'IBM', 'DRI', 'CDW', 'PPG', 'FDX', 'BBWI', 'CLX', 'SHW', 'ANTM', 'MLM', 'CCI', 'GM', 'DHI', 'CDNS', 'GFS', 'TPR', 'RVTY', 'PAYX', 'IRM', 'IPG', 'DFS', 'PXD', 'ABC', 'GIS', 'URI', 'STLD', 'IFF', 'COO', 'TFX', 'CAT', 'V', 'SWK', 'ABBV', 'MKTX', 'CVS', 'MTD', 'WTW', 'JBHT', 'TECH', 'SJM', 'RTX', 'UTX', 'FDS', 'QCOM', 'MCO', 'CF', 'HON', 'WFC', 'CRWD', 'ZS', 'ANSS', 'PNC', 'JPM', 'RE', 'NVR', 'CRM', 'KDP', 'A', 'USB', 'AMAT', 'FTNT', 'TEAM', 'ADSK', 'EXC', 'EQR', 'PAYC', 'JNPR', 'GRMN', 'ALL', 'GPC', 'CTVA', 'XOM', 'ITW', 'MRNA', 'FIS', 'CDAY', 'GWW', 'HWM', 'UAL', 'MPWR', 'CSCO', 'ETN', 'EXPD', 'MOH', 'SYF', 'XYL', 'LUV', 'AEE', 'T', 'CRL', 'ZBRA', 'IDXX', 'PH', 'ANET', 'ISRG', 'ODFL', 'CEG', 'GOOGL', 'DAY', 'PFG', 'FCX', 'BR', 'MTB', 'GDI', 'LULU', 'FOX', 'INTU', 'TXT', 'PEAK', 'AOS', 'WM', 'VZ', 'DDOG', 'SYY', 'ROL', 'EBAY', 'DOV', 'MTCH', 'UNP', 'BAC', 'GILD', 'HES', 'AVGO', 'BEN', 'BX', 'INVH', 'TTWO', 'BKR', 'EL', 'PPL', 'AMGN', 'ED', 'VTR', 'CVX', 'AZN', 'CPB', 'WELL', 'HAS', 'PKI', 'BALL', 'PFE', 'CCL', 'APTV', 'BLK', 'AAXN', 'MOS', 'EXR', 'FE', 'SBAC', 'DG', 'CMI', 'PNW', 'QRVO', 'ADM', 'TYL', 'FAST', 'L', 'TMO', 'COF', 'GNRC', 'PARA', 'TTD', 'NOC', 'EFX', 'TFC', 'DHR', 'ORLY', 'NOW', 'RJF', 'REGN', 'APH', 'J', 'RSG', 'CTSH', 'PWR', 'NEM']
21 {'FLT': 'CPAY', 'PEAK': 'DOC', 'CDAY': 'DAY', 'ABC': 'COR', 'RE': 'EG', 'PKI': 'RVTY', 'NLOK': 'GEN', 'ANTM': 'ELV', 'FB': 'META', 'BLL': 'BALL', 'VIAC': 'PARA', 'WLTW': 'WTW', 'COG': 'CTRA', 'LB': 'BBWI', 'AAXN': 'AXON', 'MYL': 'VTRS', 'ERI': 'CZR', 'IAC': 'MTCH', 'UTX': 'RTX', 'ARNC': 'HWM', 'GDI': 'IR'}

CALLING (endpoint=v3/profile | ticker=ZTS):   4%|‚ñç         | 23/520 [00:15<05:32,  1.49it/s]

KeyboardInterrupt:

In [59]:
collect_data()

537 ['WLTW', 'EG', 'VLTO', 'PM', 'ETSY', 'NCLH', 'AKAM', 'COST', 'ERI', 'ENPH', 'BRO', 'APD', 'PTC', 'EMR', 'KEY', 'SBUX', 'TGT', 'KHC', 'ALB', 'ADI', 'VRTX', 'EMN', 'EIX', 'ZTS', 'GE', 'FTV', 'EW', 'KMB', 'NWS', 'BKNG', 'BWA', 'FITB', 'FSLR', 'UDR', 'VRSK', 'LOW', 'FOXA', 'GOOG', 'HII', 'APA', 'ES', 'LRCX', 'STE', 'HSIC', 'DXCM', 'CCEP', 'ON', 'PHM', 'OXY', 'ATO', 'BLDR', 'MPC', 'CSX', 'SWKS', 'PNR', 'FICO', 'KEYS', 'MO', 'AMD', 'HRL', 'NWSA', 'VLO', 'BSX', 'EQIX', 'HSY', 'PG', 'ESS', 'ORCL', 'ULTA', 'OKE', 'MRO', 'NVDA', 'ALLE', 'TRMB', 'DAL', 'ADP', 'PKG', 'DE', 'O', 'DUK', 'VIAC', 'FI', 'TSN', 'MS', 'GEHC', 'CAH', 'DIS', 'KIM', 'DVN', 'VTRS', 'ILMN', 'LVS', 'HUM', 'PEP', 'OMC', 'ECL', 'NTRS', 'NLOK', 'CI', 'SLB', 'SPGI', 'VICI', 'SCHW', 'HIG', 'NRG', 'TT', 'IEX', 'CINF', 'LYV', 'CMS', 'PEG', 'MSFT', 'TRGP', 'VRSN', 'EQT', 'LLY', 'ICE', 'NTAP', 'ABT', 'MMM', 'AME', 'CFG', 'CHD', 'LNT', 'XEL', 'REG', 'GPN', 'WMT', 'HPQ', 'AMT', 'JNJ', 'IQV', 'RL', 'AVB', 'FANG', 'JKHY', 'C', 'LHX', 'CZR', 'CPT', 'TEL', 'WRB', 'MNST', 'ETR', 'GD', 'GS', 'DD', 'INCY', 'STT', 'PLD', 'NFLX', 'EXPE', 'FMC', 'BAX', 'EA', 'CTLT', 'JBL', 'RCL', 'VMC', 'META', 'FB', 'LB', 'BIIB', 'TRV', 'DGX', 'LMT', 'COP', 'COR', 'SPLK', 'HLT', 'SIRI', 'HPE', 'STZ', 'NI', 'KMI', 'CPRT', 'NKE', 'MDT', 'CME', 'PANW', 'GEN', 'ABNB', 'NDSN', 'LW', 'TJX', 'TAP', 'ARNC', 'IT', 'LKQ', 'AJG', 'MAS', 'HAL', 'MU', 'BDX', 'CARR', 'WY', 'MRVL', 'POOL', 'LYB', 'BLL', 'ROP', 'MGM', 'WRK', 'DVA', 'MET', 'TDY', 'PSA', 'WDC', 'DASH', 'IVZ', 'ACGL', 'UNH', 'AFL', 'INTC', 'BBY', 'SO', 'AVY', 'RMD', 'AWK', 'DOC', 'MELI', 'TROW', 'SNPS', 'PGR', 'NUE', 'KVUE', 'CBRE', 'KR', 'LDOS', 'BF-B', 'D', 'ASML', 'SRE', 'PSX', 'AXP', 'AIG', 'NEE', 'CB', 'SYK', 'AAL', 'CL', 'ELV', 'MRK', 'CAG', 'PDD', 'AXON', 'PODD', 'HST', 'UPS', 'LH', 'STX', 'GL', 'AMZN', 'AIZ', 'LIN', 'HUBB', 'TXN', 'NXPI', 'TSCO', 'COG', 'OTIS', 'LEN', 'ARE', 'WST', 'DTE', 'MSI', 'CHTR', 'MHK', 'ROST', 'BK', 'WDAY', 'CPAY', 'UBER', 'AES', 'MSCI', 'BRK-B', 'AMCR', 'MDB', 'TER', 'DOW', 'BIO', 'BMY', 'UHS', 'MCK', 'WEC', 'WMB', 'TDG', 'MCHP', 'SPG', 'ALGN', 'CBOE', 'CMG', 'AMP', 'PRU', 'K', 'CMA', 'MMC', 'CHRW', 'ZBH', 'KLAC', 'CSGP', 'AON', 'BXP', 'MCD', 'KMX', 'HOLX', 'HD', 'DPZ', 'CNP', 'SNA', 'NSC', 'MYL', 'MDLZ', 'DLTR', 'CE', 'CNC', 'FRT', 'MAA', 'WBA', 'NDAQ', 'KO', 'ACN', 'PYPL', 'ADBE', 'RHI', 'GLW', 'MKC', 'BG', 'WBD', 'EPAM', 'TMUS', 'AAPL', 'JCI', 'MAR', 'HCA', 'TSLA', 'ROK', 'PCAR', 'YUM', 'WAT', 'DLR', 'EVRG', 'IR', 'WAB', 'EOG', 'MA', 'AEP', 'IAC', 'WYNN', 'FFIV', 'HBAN', 'CMCSA', 'BA', 'FLT', 'CTRA', 'IP', 'RF', 'F', 'PCG', 'CTAS', 'AZO', 'IBM', 'DRI', 'CDW', 'PPG', 'FDX', 'BBWI', 'CLX', 'SHW', 'ANTM', 'MLM', 'CCI', 'GM', 'DHI', 'CDNS', 'GFS', 'TPR', 'RVTY', 'PAYX', 'IRM', 'IPG', 'DFS', 'PXD', 'ABC', 'GIS', 'URI', 'STLD', 'IFF', 'COO', 'TFX', 'CAT', 'V', 'SWK', 'ABBV', 'MKTX', 'CVS', 'MTD', 'WTW', 'JBHT', 'TECH', 'SJM', 'RTX', 'UTX', 'FDS', 'QCOM', 'MCO', 'CF', 'HON', 'WFC', 'CRWD', 'ZS', 'ANSS', 'PNC', 'JPM', 'RE', 'NVR', 'CRM', 'KDP', 'A', 'USB', 'AMAT', 'FTNT', 'TEAM', 'ADSK', 'EXC', 'EQR', 'PAYC', 'JNPR', 'GRMN', 'ALL', 'GPC', 'CTVA', 'XOM', 'ITW', 'MRNA', 'FIS', 'CDAY', 'GWW', 'HWM', 'UAL', 'MPWR', 'CSCO', 'ETN', 'EXPD', 'MOH', 'SYF', 'XYL', 'LUV', 'AEE', 'T', 'CRL', 'ZBRA', 'IDXX', 'PH', 'ANET', 'ISRG', 'ODFL', 'CEG', 'GOOGL', 'DAY', 'PFG', 'FCX', 'BR', 'MTB', 'GDI', 'LULU', 'FOX', 'INTU', 'TXT', 'PEAK', 'AOS', 'WM', 'VZ', 'DDOG', 'SYY', 'ROL', 'EBAY', 'DOV', 'MTCH', 'UNP', 'BAC', 'GILD', 'HES', 'AVGO', 'BEN', 'BX', 'INVH', 'TTWO', 'BKR', 'EL', 'PPL', 'AMGN', 'ED', 'VTR', 'CVX', 'AZN', 'CPB', 'WELL', 'HAS', 'PKI', 'BALL', 'PFE', 'CCL', 'APTV', 'BLK', 'AAXN', 'MOS', 'EXR', 'FE', 'SBAC', 'DG', 'CMI', 'PNW', 'QRVO', 'ADM', 'TYL', 'FAST', 'L', 'TMO', 'COF', 'GNRC', 'PARA', 'TTD', 'NOC', 'EFX', 'TFC', 'DHR', 'ORLY', 'NOW', 'RJF', 'REGN', 'APH', 'J', 'RSG', 'CTSH', 'PWR', 'NEM']
21 {'FLT': 'CPAY', 'PEAK': 'DOC', 'CDAY': 'DAY', 'ABC': 'COR', 'RE': 'EG', 'PKI': 'RVTY', 'NLOK': 'GEN', 'ANTM': 'ELV', 'FB': 'META', 'BLL': 'BALL', 'VIAC': 'PARA', 'WLTW': 'WTW', 'COG': 'CTRA', 'LB': 'BBWI', 'AAXN': 'AXON', 'MYL': 'VTRS', 'ERI': 'CZR', 'IAC': 'MTCH', 'UTX': 'RTX', 'ARNC': 'HWM', 'GDI': 'IR'}

COLLECTING (key=news | filename=CTLT.csv):  25%|‚ñà‚ñà‚ñç       | 83/333 [00:02<00:07, 34.40it/s]

File ./data/fmp/news/CPAY.csv is empty!

COLLECTING (key=news | filename=GOOG.csv):  42%|‚ñà‚ñà‚ñà‚ñà‚ñè     | 139/333 [00:04<00:06, 30.91it/s]

File ./data/fmp/news/GEN.csv is empty!

COLLECTING (key=news | filename=VLTO.csv):  93%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñé| 311/333 [00:14<00:01, 14.85it/s]

File ./data/fmp/news/UTX.csv is empty!

COLLECTING (key=news | filename=ZBRA.csv): 100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 333/333 [00:16<00:00, 20.32it/s]
COLLECTING (key=prices | filename=ZTS.csv): 100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 537/537 [01:12<00:00,  7.44it/s]
COLLECTING (key=metrics | filename=ZTS.csv): 100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 538/538 [00:14<00:00, 37.48it/s]

'./data/raw-dataset'

In [83]:
df = pd.read_csv('./data/raw-dataset/tickers.csv')

df

FileNotFoundError: [Errno 2] No such file or directory: './data/raw-dataset/tickers.csv'

In [77]:
df = pd.read_csv('./data/raw-dataset/metrics.csv')

len(df['symbol'].unique())
df.groupby(by='symbol').count().sort_values(by='date')

,date,calendarYear,period,revenuePerShare,netIncomePerShare,operatingCashFlowPerShare,freeCashFlowPerShare,cashPerShare,bookValuePerShare,tangibleBookValuePerShare,...,averagePayables,averageInventory,daysSalesOutstanding,daysPayablesOutstanding,daysOfInventoryOnHand,receivablesTurnover,payablesTurnover,inventoryTurnover,roe,capexPerShare
symbol,,,,,,,,,,,,,,,,,,,,,
KVUE,9,9,9,9,9,9,9,7,7,7,...,5,5,7,7,7,9,9,9,9,9
GEHC,9,9,9,9,9,9,9,8,8,8,...,6,6,8,8,8,9,9,9,9,9
VLTO,9,9,9,9,9,9,9,7,7,7,...,6,6,7,7,7,9,9,9,9,9
GFS,14,14,14,14,14,14,14,12,12,12,...,10,10,12,12,12,14,14,14,14,14
DASH,17,17,17,17,17,17,17,16,16,16,...,14,14,16,16,16,17,17,17,17,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
MTCH,236,236,236,236,236,236,236,236,236,236,...,234,234,236,236,236,236,236,236,236,236
CTRA,267,267,267,267,267,255,255,259,259,259,...,254,254,259,267,267,267,267,267,267,255
RTX,277,277,277,277,277,260,260,265,265,265,...,259,259,265,277,277,277,277,277,277,260
GEN,286,286,286,286,286,277,277,255,255,255,...,252,252,255,262,262,286,286,286,286,277
RVTY,300,300,300,300,300,272,272,279,279,279,...,269,269,279,300,300,300,300,300,300,272

In [79]:
df = pd.read_csv('./data/raw-dataset/prices.csv')

len(df['symbol'].unique())
df.groupby(by='symbol').count().sort_values(by='date')

,date,open,high,low,close,adjClose,volume,unadjustedVolume,change,changePercent,vwap,label,changeOverTime
symbol,,,,,,,,,,,,,
VLTO,147,147,147,147,147,147,147,147,147,147,147,147,147
KVUE,247,247,247,247,247,247,247,247,247,247,247,247,247
GEHC,342,342,342,342,342,342,342,342,342,342,342,342,342
CEG,571,571,571,571,571,571,571,571,571,571,571,571,571
GFS,627,627,627,627,627,627,627,627,627,627,627,627,627
...,...,...,...,...,...,...,...,...,...,...,...,...,...
RVTY,6973,6973,6973,6973,6973,6973,6973,6973,6973,6973,6973,6973,6973
EG,7003,7003,7003,7003,7003,7003,7003,7003,7003,7003,7003,7003,7003
COR,7058,7058,7058,7058,7058,7058,7058,7058,7058,7058,7058,7058,7058
DOC,7143,7143,7143,7143,7143,7143,7143,7143,7143,7143,7143,7143,7143
MTCH,7206,7206,7206,7206,7206,7206,7206,7206,7206,7206,7206,7206,7206

In [81]:
df = pd.read_csv('./data/raw-dataset/news.csv')

df.groupby(by='symbol').count().sort_values(by='publishedDate')

        publishedDate  title  image   site   text    url
symbol
VLTO               13     13     13     13     13     13
BF-B              129    129    129    129    129    129
TECH              136    136    136    136    136    136
STE               138    138    138    138    138    138
WAT               145    145    145    145    145    145
...               ...    ...    ...    ...    ...    ...
MSFT            13824  13824  13822  13824  13804  13824
GOOG            15578  15578  15493  15578  15571  15578
META            17721  17721  17720  17721  17703  17721
TSLA            20000  20000  20000  20000  19991  20000
AAPL            22500  22500  22498  22500  22466  22500

[319 rows x 6 columns]

In [82]:
df[df['symbol'] == 'CPAY']

,symbol,publishedDate,title,image,site,text,url
136603,CPAY,2024-03-25 10:46:23,Why FleetCor Technologies (FLT) is a Top Value...,https://cdn.snapi.dev/images/v1/n/p/default40-...,Zacks Investment Research,"Wondering how to pick strong, market-beating s...",https://www.zacks.com/stock/news/2245484/why-f...
136604,CPAY,2024-03-04 10:51:07,Here's Why FleetCor Technologies (FLT) is a St...,https://cdn.snapi.dev/images/v1/i/d/default25-...,Zacks Investment Research,"Whether you're a value, growth, or momentum in...",https://www.zacks.com/stock/news/2235349/here-...
136605,CPAY,2024-02-18 23:51:12,Fleetcor: A High-Quality Company Undervalued O...,https://cdn.snapi.dev/images/v1/w/f/image-1477...,Seeking Alpha,FLEETCOR is an overlooked quality company that...,https://seekingalpha.com/article/4671306-fleet...
136606,CPAY,2024-02-16 08:59:00,FLEETCOR to Participate in Upcoming Investor C...,https://cdn.snapi.dev/images/v1/f/o/conf19-228...,Business Wire,ATLANTA--(BUSINESS WIRE)--FLEETCOR Technologie...,https://www.businesswire.com/news/home/2024021...
136607,CPAY,2024-02-15 10:46:08,Why FleetCor Technologies (FLT) is a Top Growt...,https://cdn.snapi.dev/images/v1/x/i/default30-...,Zacks Investment Research,"Wondering how to pick strong, market-beating s...",https://www.zacks.com/stock/news/2226844/why-f...
...,...,...,...,...,...,...,...
136934,CPAY,2020-04-03 08:28:51,Advisors Asset Management Inc. Trims Holdings ...,https://www.marketbeat.com/logos/drone-deliver...,THELINCOLNIANONLINE,Advisors Asset Management Inc. reduced its hol...,https://www.thelincolnianonline.com/2020/04/03...
136935,CPAY,2020-04-03 07:44:50,"FleetCor Technologies, Inc. (NYSE:FLT) Short I...",https://www.marketbeat.com/logos/drone-deliver...,THELINCOLNIANONLINE,"FleetCor Technologies, Inc. (NYSE:FLT) was the...",https://www.thelincolnianonline.com/2020/04/03...
136936,CPAY,2020-04-01 19:56:05,What Is FleetCor Technologies‚Äôs (NYSE:FLT) P/E...,https://images.simplywall.st/asset/industry/80...,SIMPLYWALL,"Unfortunately for some shareholders, the Fleet...",https://simplywall.st/stocks/us/software/nyse-...
136937,CPAY,2020-04-01 15:31:00,Western Union Ramps Up Digital Efforts Amid Co...,https://staticx-tuner.zacks.com/images/article...,ZACKS,Western Union (WU) expands its digital service...,https://www.zacks.com/stock/news/849364/wester...
136938,CPAY,2020-04-01 00:00:00,"Shares of several technology, semiconductor, a...",NaN,Benzinga Newsdesk,NaN,https://www.benzinga.com/wiim/20/04/15718302/s...

In [76]:
df.groupby(by='symbol').count().sort_values(by='publishedDate')

        publishedDate  title  image   site   text    url
symbol
VLTO               13     13     13     13     13     13
BF-B              129    129    129    129    129    129
TECH              136    136    136    136    136    136
STE               138    138    138    138    138    138
WAT               145    145    145    145    145    145
...               ...    ...    ...    ...    ...    ...
MSFT            13824  13824  13822  13824  13804  13824
GOOG            15578  15578  15493  15578  15571  15578
META            17721  17721  17720  17721  17703  17721
TSLA            20000  20000  20000  20000  19991  20000
AAPL            22500  22500  22498  22500  22466  22500

[319 rows x 6 columns]

In [65]:
df = pd.read_csv('./data/raw-dataset/news.csv')

len(df['symbol'].unique())

319

In [66]:
df = pd.read_csv('./data/raw-dataset/profile.csv')

len(df['symbol'].unique())

17

In [4]:
df = pd.read_csv('./data/fmp/profile/profile.csv')

In [7]:
df['symbol'].unique().shape

(515,)

In [42]:
df_tickers = pd.read_csv('./data/fmp/tickers.csv')

df_tickers

,symbol,name,sector,subSector,headQuarter,dateFirstAdded,cik,founded,index_name
0,GEV,GE Vernova,Industrials,Heavy Electrical Equipment,"Cambridge, Massachusetts",2024-04-02,1996810,2024,sp500
1,SOLV,Solventum,Health Care,Health Care Technology,"Saint Paul, Minnesota",2024-04-01,1964738,2023,sp500
2,DECK,Deckers Brands,Consumer Discretionary,Footwear,"Goleta, California",2024-03-18,910521,1973,sp500
3,SMCI,Supermicro,Information Technology,"Technology Hardware, Storage & Peripherals","San Jose, California",2024-03-18,1375365,1993,sp500
4,BLDR,Builders FirstSource,Industrials,Building Products,"Irving, Texas",2023-12-18,1316835,1998,sp500
...,...,...,...,...,...,...,...,...,...
599,WBA,Walgreens Boots Alliance,Healthcare,Healthcare,"Deerfield, IL",NaN,1618921,2014-12-31,nasdaq
600,WBD,Warner Bros. Discovery,Communication Services,Communication Services,"New York, NY",NaN,1437107,2022-04-08,nasdaq
601,WDAY,"Workday, Inc.",Technology,Technology,"Pleasanton, CA",NaN,1327811,2005-03-01,nasdaq
602,XEL,Xcel Energy,Utilities,Utilities,"Minneapolis, MN",NaN,72903,1909-06-17,nasdaq
603,ZS,Zscaler,Technology,Technology,"San Jose, CA",NaN,1713683,2007-01-01,nasdaq

In [43]:
df_changes = pd.read_csv('./data/fmp/changes.csv')

df_changes

,date,name,oldSymbol,newSymbol,symbol
0,2024-04-19,Xylo Technologies Ltd. American Depositary Shares,MDGS,XYLO,XYLO
1,2024-04-19,Xylo Technologies Ltd. American Depositary Shares,XLYO,XYLO,XYLO
2,2024-04-18,Xylo Technologies Ltd. American Depositary Shares,MDGS,XLYO,XLYO
3,2024-04-17,"iLearningEngines, Inc. Common Stock",ARRW,AILE,AILE
4,2024-04-17,"iLearningEngines, Inc. Warrant",ARRWW,AILEW,AILEW
...,...,...,...,...,...
4584,1998-02-13,Infogroup,ABIIB,IUSA,IUSA
4585,1998-02-10,Ventas,VC,VTR,VTR
4586,1998-02-03,Morton Industrial Group,MLXR,MGRP,MGRP
4587,1998-01-20,Grand Central Silver Mines,CTMC,GSLM,GSLM
4588,1998-01-02,Questcor Pharmaceuticals,CYPR,QCOR,QCOR

In [57]:
df = pd.read_csv('data/fmp/news/AAPL.csv')

In [44]:
start_date = pd.to_datetime('2020-01-01', format='%Y-%m-%d').date()
end_date = pd.to_datetime('2024-04-15', format='%Y-%m-%d').date()

df_tickers.drop_duplicates(inplace=True)

columns = df_tickers.columns

df_tickers['_date_first_added'] = pd.to_datetime(df_tickers['dateFirstAdded'].str.strip().combine_first(df_tickers['founded']), format='%Y-%m-%d').dt.date
df_tickers['_delta_first_added'] = end_date - df_tickers['_date_first_added']

print(df_tickers['symbol'].unique().shape)

(520,)

In [45]:
df_tickers

,symbol,name,sector,subSector,headQuarter,dateFirstAdded,cik,founded,index_name,_date_first_added,_delta_first_added
0,GEV,GE Vernova,Industrials,Heavy Electrical Equipment,"Cambridge, Massachusetts",2024-04-02,1996810,2024,sp500,2024-04-02,13 days
1,SOLV,Solventum,Health Care,Health Care Technology,"Saint Paul, Minnesota",2024-04-01,1964738,2023,sp500,2024-04-01,14 days
2,DECK,Deckers Brands,Consumer Discretionary,Footwear,"Goleta, California",2024-03-18,910521,1973,sp500,2024-03-18,28 days
3,SMCI,Supermicro,Information Technology,"Technology Hardware, Storage & Peripherals","San Jose, California",2024-03-18,1375365,1993,sp500,2024-03-18,28 days
4,BLDR,Builders FirstSource,Industrials,Building Products,"Irving, Texas",2023-12-18,1316835,1998,sp500,2023-12-18,119 days
...,...,...,...,...,...,...,...,...,...,...,...
599,WBA,Walgreens Boots Alliance,Healthcare,Healthcare,"Deerfield, IL",NaN,1618921,2014-12-31,nasdaq,2014-12-31,3393 days
600,WBD,Warner Bros. Discovery,Communication Services,Communication Services,"New York, NY",NaN,1437107,2022-04-08,nasdaq,2022-04-08,738 days
601,WDAY,"Workday, Inc.",Technology,Technology,"Pleasanton, CA",NaN,1327811,2005-03-01,nasdaq,2005-03-01,6985 days
602,XEL,Xcel Energy,Utilities,Utilities,"Minneapolis, MN",NaN,72903,1909-06-17,nasdaq,1909-06-17,41941 days
603,ZS,Zscaler,Technology,Technology,"San Jose, CA",NaN,1713683,2007-01-01,nasdaq,2007-01-01,6314 days

In [36]:
sp500 = set(df_tickers[df_tickers['index_name'] == 'sp500']['symbol'].unique())
nasdaq = set(df_tickers[df_tickers['index_name'] == 'nasdaq']['symbol'].unique())

In [30]:
df_tickers['symbol'].value_counts()[df_tickers['symbol'].value_counts() > 1]

MAR     2
MDLZ    2
IDXX    2
PAYX    2
CDW     2
       ..
GILD    2
VRTX    2
CEG     2
CTSH    2
KHC     2
Name: symbol, Length: 84, dtype: int64

In [37]:
nasdaq - sp500

{'ASML',
 'AZN',
 'CCEP',
 'CRWD',
 'DASH',
 'DDOG',
 'GFS',
 'MDB',
 'MELI',
 'MRVL',
 'PDD',
 'SIRI',
 'SPLK',
 'TEAM',
 'TTD',
 'WDAY',
 'ZS'}

In [31]:
df_tickers['_date'] = df_tickers['dateFirstAdded'].combine_first(df_tickers['founded'])

df_tickers

,symbol,name,sector,subSector,headQuarter,dateFirstAdded,cik,founded,index_name,_date_first_added,_delta_first_added,_date
0,GEV,GE Vernova,Industrials,Heavy Electrical Equipment,"Cambridge, Massachusetts",2024-04-02,1996810,2024,sp500,2024-04-02,13 days,2024-04-02
1,SOLV,Solventum,Health Care,Health Care Technology,"Saint Paul, Minnesota",2024-04-01,1964738,2023,sp500,2024-04-01,14 days,2024-04-01
2,DECK,Deckers Brands,Consumer Discretionary,Footwear,"Goleta, California",2024-03-18,910521,1973,sp500,2024-03-18,28 days,2024-03-18
3,SMCI,Supermicro,Information Technology,"Technology Hardware, Storage & Peripherals","San Jose, California",2024-03-18,1375365,1993,sp500,2024-03-18,28 days,2024-03-18
4,BLDR,Builders FirstSource,Industrials,Building Products,"Irving, Texas",2023-12-18,1316835,1998,sp500,2023-12-18,119 days,2023-12-18
...,...,...,...,...,...,...,...,...,...,...,...,...
599,WBA,Walgreens Boots Alliance,Healthcare,Healthcare,"Deerfield, IL",NaN,1618921,2014-12-31,nasdaq,2014-12-31,3393 days,2014-12-31
600,WBD,Warner Bros. Discovery,Communication Services,Communication Services,"New York, NY",NaN,1437107,2022-04-08,nasdaq,2022-04-08,738 days,2022-04-08
601,WDAY,"Workday, Inc.",Technology,Technology,"Pleasanton, CA",NaN,1327811,2005-03-01,nasdaq,2005-03-01,6985 days,2005-03-01
602,XEL,Xcel Energy,Utilities,Utilities,"Minneapolis, MN",NaN,72903,1909-06-17,nasdaq,1909-06-17,41941 days,1909-06-17
603,ZS,Zscaler,Technology,Technology,"San Jose, CA",NaN,1713683,2007-01-01,nasdaq,2007-01-01,6314 days,2007-01-01

In [46]:

condition = (
    (df_tickers['_date_first_added'] <= end_date) 
    & (df_tickers['_delta_first_added'].dt.days > 30)
)

df_tickers = df_tickers.loc[condition, columns]

print(df_tickers['symbol'].unique().shape)

(516,)

In [47]:
df_tickers

,symbol,name,sector,subSector,headQuarter,dateFirstAdded,cik,founded,index_name
4,BLDR,Builders FirstSource,Industrials,Building Products,"Irving, Texas",2023-12-18,1316835,1998,sp500
5,JBL,Jabil,Information Technology,Electronic Manufacturing Services,"St. Petersburg, Florida",2023-12-18,898293,1966,sp500
6,UBER,Uber,Industrials,Passenger Ground Transportation,"San Francisco, California",2023-12-18,1543151,2009,sp500
7,HUBB,Hubbell Incorporated,Industrials,Industrial Machinery & Supplies & Components,"Shelton, Connecticut",2023-10-18,48898,1888,sp500
8,LULU,Lululemon Athletica,Consumer Discretionary,"Apparel, Accessories & Luxury Goods","Vancouver, Canada",2023-10-18,1397187,1998,sp500
...,...,...,...,...,...,...,...,...,...
599,WBA,Walgreens Boots Alliance,Healthcare,Healthcare,"Deerfield, IL",NaN,1618921,2014-12-31,nasdaq
600,WBD,Warner Bros. Discovery,Communication Services,Communication Services,"New York, NY",NaN,1437107,2022-04-08,nasdaq
601,WDAY,"Workday, Inc.",Technology,Technology,"Pleasanton, CA",NaN,1327811,2005-03-01,nasdaq
602,XEL,Xcel Energy,Utilities,Utilities,"Minneapolis, MN",NaN,72903,1909-06-17,nasdaq
603,ZS,Zscaler,Technology,Technology,"San Jose, CA",NaN,1713683,2007-01-01,nasdaq

In [51]:
def rename_indicator(row: pd.Series):

    classes = (' A', ' B')
    class_change = row['oldSymbol'].endswith(classes)
    identifier_change = row['oldSymbol'].startswith(row['newSymbol'])

    condition = not (class_change or identifier_change)
    
    return condition


tickers = df_tickers['symbol'].unique().tolist()

columns = df_changes.columns

df_changes['_rename_indicator'] = df_changes.apply(rename_indicator, axis=1)
df_changes['_date'] = pd.to_datetime(df_changes['date'], format='%Y-%m-%d').dt.date

condition = (
    (df_changes['_date'] >= start_date)  
    & df_changes['newSymbol'].isin(tickers) 
    & (~ df_changes['oldSymbol'].isin(tickers))
    & df_changes['_rename_indicator']
)

df_changes = df_changes.loc[condition, columns]

tickers.extend(df_changes['oldSymbol'].unique().tolist())
tickers = list(set(tickers))

print(df_tickers['symbol'].unique().shape)

(516,)

In [52]:
df_changes

,date,name,oldSymbol,newSymbol,symbol
24,2024-03-25,"Corpay, Inc. Common Stock",FLT,CPAY,CPAY
41,2024-03-04,"Healthpeak Properties, Inc. Common Stock",PEAK,DOC,DOC
69,2024-02-01,"Dayforce, Inc. Common Stock",CDAY,DAY,DAY
191,2023-08-30,"Cencora, Inc. Common Stock",ABC,COR,COR
234,2023-07-10,"Everest Group, Ltd. Common Stock",RE,EG,EG
277,2023-05-16,"Revvity, Inc. Common Stock",PKI,RVTY,RVTY
419,2022-11-08,Gen Digital Inc. Common Stock,NLOK,GEN,GEN
542,2022-06-28,"Elevance Health, Inc. Common Stock",ANTM,ELV,ELV
547,2022-06-09,"Meta Platforms, Inc.",FB,META,META
565,2022-05-10,Ball Corporation Common Stock,BLL,BALL,BALL
613,2022-02-17,Paramount Global 5.75% Series A Mandatory Conv...,VIAC,PARA,PARA
658,2022-01-10,Willis Towers Watson PLC,WLTW,WTW,WTW
758,2021-10-04,Coterra Energy Inc.,COG,CTRA,CTRA
828,2021-08-03,"Bath & Body Works, Inc.",LB,BBWI,BBWI
1026,2021-01-26,"Axon Enterprise, Inc. Common Stock",AAXN,AXON,AXON
1123,2020-11-17,Viatris,MYL,VTRS,VTRS
1223,2020-07-21,Caesars Entertainment,ERI,CZR,CZR
1242,2020-07-01,Match Group,IAC,MTCH,MTCH
1303,2020-04-02,Raytheon Technologies Corp.,UTX,RTX,RTX
1305,2020-04-01,Howmet Aerospace,ARNC,HWM,HWM
1322,2020-03-02,Ingersoll Rand,GDI,IR,IR

In [53]:
changes = dict(zip(df_changes['oldSymbol'], df_changes['newSymbol']))

print(len(tickers), tickers)
print(len(changes), changes)

537 ['WLTW', 'EG', 'VLTO', 'PM', 'ETSY', 'NCLH', 'AKAM', 'COST', 'ERI', 'ENPH', 'BRO', 'APD', 'PTC', 'EMR', 'KEY', 'SBUX', 'TGT', 'KHC', 'ALB', 'ADI', 'VRTX', 'EMN', 'EIX', 'ZTS', 'GE', 'FTV', 'EW', 'KMB', 'NWS', 'BKNG', 'BWA', 'FITB', 'FSLR', 'UDR', 'VRSK', 'LOW', 'FOXA', 'GOOG', 'HII', 'APA', 'ES', 'LRCX', 'STE', 'HSIC', 'DXCM', 'CCEP', 'ON', 'PHM', 'OXY', 'ATO', 'BLDR', 'MPC', 'CSX', 'SWKS', 'PNR', 'FICO', 'KEYS', 'MO', 'AMD', 'HRL', 'NWSA', 'VLO', 'BSX', 'EQIX', 'HSY', 'PG', 'ESS', 'ORCL', 'ULTA', 'OKE', 'MRO', 'NVDA', 'ALLE', 'TRMB', 'DAL', 'ADP', 'PKG', 'DE', 'O', 'DUK', 'VIAC', 'FI', 'TSN', 'MS', 'GEHC', 'CAH', 'DIS', 'KIM', 'DVN', 'VTRS', 'ILMN', 'LVS', 'HUM', 'PEP', 'OMC', 'ECL', 'NTRS', 'NLOK', 'CI', 'SLB', 'SPGI', 'VICI', 'SCHW', 'HIG', 'NRG', 'TT', 'IEX', 'CINF', 'LYV', 'CMS', 'PEG', 'MSFT', 'TRGP', 'VRSN', 'EQT', 'LLY', 'ICE', 'NTAP', 'ABT', 'MMM', 'AME', 'CFG', 'CHD', 'LNT', 'XEL', 'REG', 'GPN', 'WMT', 'HPQ', 'AMT', 'JNJ', 'IQV', 'RL', 'AVB', 'FANG', 'JKHY', 'C', 'LHX', 'CZR', 'CPT', 'TEL', 'WRB', 'MNST', 'ETR', 'GD', 'GS', 'DD', 'INCY', 'STT', 'PLD', 'NFLX', 'EXPE', 'FMC', 'BAX', 'EA', 'CTLT', 'JBL', 'RCL', 'VMC', 'META', 'FB', 'LB', 'BIIB', 'TRV', 'DGX', 'LMT', 'COP', 'COR', 'SPLK', 'HLT', 'SIRI', 'HPE', 'STZ', 'NI', 'KMI', 'CPRT', 'NKE', 'MDT', 'CME', 'PANW', 'GEN', 'ABNB', 'NDSN', 'LW', 'TJX', 'TAP', 'ARNC', 'IT', 'LKQ', 'AJG', 'MAS', 'HAL', 'MU', 'BDX', 'CARR', 'WY', 'MRVL', 'POOL', 'LYB', 'BLL', 'ROP', 'MGM', 'WRK', 'DVA', 'MET', 'TDY', 'PSA', 'WDC', 'DASH', 'IVZ', 'ACGL', 'UNH', 'AFL', 'INTC', 'BBY', 'SO', 'AVY', 'RMD', 'AWK', 'DOC', 'MELI', 'TROW', 'SNPS', 'PGR', 'NUE', 'KVUE', 'CBRE', 'KR', 'LDOS', 'BF-B', 'D', 'ASML', 'SRE', 'PSX', 'AXP', 'AIG', 'NEE', 'CB', 'SYK', 'AAL', 'CL', 'ELV', 'MRK', 'CAG', 'PDD', 'AXON', 'PODD', 'HST', 'UPS', 'LH', 'STX', 'GL', 'AMZN', 'AIZ', 'LIN', 'HUBB', 'TXN', 'NXPI', 'TSCO', 'COG', 'OTIS', 'LEN', 'ARE', 'WST', 'DTE', 'MSI', 'CHTR', 'MHK', 'ROST', 'BK', 'WDAY', 'CPAY', 'UBER', 'AES', 'MSCI', 'BRK-B', 'AMCR', 'MDB', 'TER', 'DOW', 'BIO', 'BMY', 'UHS', 'MCK', 'WEC', 'WMB', 'TDG', 'MCHP', 'SPG', 'ALGN', 'CBOE', 'CMG', 'AMP', 'PRU', 'K', 'CMA', 'MMC', 'CHRW', 'ZBH', 'KLAC', 'CSGP', 'AON', 'BXP', 'MCD', 'KMX', 'HOLX', 'HD', 'DPZ', 'CNP', 'SNA', 'NSC', 'MYL', 'MDLZ', 'DLTR', 'CE', 'CNC', 'FRT', 'MAA', 'WBA', 'NDAQ', 'KO', 'ACN', 'PYPL', 'ADBE', 'RHI', 'GLW', 'MKC', 'BG', 'WBD', 'EPAM', 'TMUS', 'AAPL', 'JCI', 'MAR', 'HCA', 'TSLA', 'ROK', 'PCAR', 'YUM', 'WAT', 'DLR', 'EVRG', 'IR', 'WAB', 'EOG', 'MA', 'AEP', 'IAC', 'WYNN', 'FFIV', 'HBAN', 'CMCSA', 'BA', 'FLT', 'CTRA', 'IP', 'RF', 'F', 'PCG', 'CTAS', 'AZO', 'IBM', 'DRI', 'CDW', 'PPG', 'FDX', 'BBWI', 'CLX', 'SHW', 'ANTM', 'MLM', 'CCI', 'GM', 'DHI', 'CDNS', 'GFS', 'TPR', 'RVTY', 'PAYX', 'IRM', 'IPG', 'DFS', 'PXD', 'ABC', 'GIS', 'URI', 'STLD', 'IFF', 'COO', 'TFX', 'CAT', 'V', 'SWK', 'ABBV', 'MKTX', 'CVS', 'MTD', 'WTW', 'JBHT', 'TECH', 'SJM', 'RTX', 'UTX', 'FDS', 'QCOM', 'MCO', 'CF', 'HON', 'WFC', 'CRWD', 'ZS', 'ANSS', 'PNC', 'JPM', 'RE', 'NVR', 'CRM', 'KDP', 'A', 'USB', 'AMAT', 'FTNT', 'TEAM', 'ADSK', 'EXC', 'EQR', 'PAYC', 'JNPR', 'GRMN', 'ALL', 'GPC', 'CTVA', 'XOM', 'ITW', 'MRNA', 'FIS', 'CDAY', 'GWW', 'HWM', 'UAL', 'MPWR', 'CSCO', 'ETN', 'EXPD', 'MOH', 'SYF', 'XYL', 'LUV', 'AEE', 'T', 'CRL', 'ZBRA', 'IDXX', 'PH', 'ANET', 'ISRG', 'ODFL', 'CEG', 'GOOGL', 'DAY', 'PFG', 'FCX', 'BR', 'MTB', 'GDI', 'LULU', 'FOX', 'INTU', 'TXT', 'PEAK', 'AOS', 'WM', 'VZ', 'DDOG', 'SYY', 'ROL', 'EBAY', 'DOV', 'MTCH', 'UNP', 'BAC', 'GILD', 'HES', 'AVGO', 'BEN', 'BX', 'INVH', 'TTWO', 'BKR', 'EL', 'PPL', 'AMGN', 'ED', 'VTR', 'CVX', 'AZN', 'CPB', 'WELL', 'HAS', 'PKI', 'BALL', 'PFE', 'CCL', 'APTV', 'BLK', 'AAXN', 'MOS', 'EXR', 'FE', 'SBAC', 'DG', 'CMI', 'PNW', 'QRVO', 'ADM', 'TYL', 'FAST', 'L', 'TMO', 'COF', 'GNRC', 'PARA', 'TTD', 'NOC', 'EFX', 'TFC', 'DHR', 'ORLY', 'NOW', 'RJF', 'REGN', 'APH', 'J', 'RSG', 'CTSH', 'PWR', 'NEM']
21 {'FLT': 'CPAY', 'PEAK': 'DOC', 'CDAY': 'DAY', 'ABC': 'COR', 'RE': 'EG', 'PKI': 'RVTY', 'NLOK': 'GEN', 'ANTM': 'ELV', 'FB': 'META', 'BLL': 'BALL', 'VIAC': 'PARA', 'WLTW': 'WTW', 'COG': 'CTRA', 'LB': 'BBWI', 'AAXN': 'AXON', 'MYL': 'VTRS', 'ERI': 'CZR', 'IAC': 'MTCH', 'UTX': 'RTX', 'ARNC': 'HWM', 'GDI': 'IR'}

In [54]:
len(set(tickers) - set(changes.keys()))

516

## Data

In [9]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [10]:
from finformer.data.dataset import get_dataset

In [11]:
dataset = get_dataset(force=False)

Dataset profile exists!
Dataset news exists!
Dataset prices exists!
Dataset metrics exists!

In [12]:
dataset.prices

,date,open,high,low,close,adjClose,volume,unadjustedVolume,change,changePercent,vwap,label,changeOverTime,symbol
0,2024-04-15,142.31,143.25,140.26,140.34,140.34,433934,433934,-1.97,-1.38430,141.2800,"April 15, 24",-0.013843,A
1,2024-04-12,143.59,144.66,140.26,140.73,140.73,1124506,1124506,-2.86,-1.99000,142.3100,"April 12, 24",-0.019900,A
2,2024-04-11,145.65,145.86,143.67,145.00,145.00,720175,720175,-0.65,-0.44628,145.0450,"April 11, 24",-0.004463,A
3,2024-04-10,144.42,145.06,143.55,144.16,144.16,1051822,1051822,-0.26,-0.18003,144.2975,"April 10, 24",-0.001800,A
4,2024-04-09,146.00,147.43,145.50,147.40,147.40,873691,873691,1.40,0.95890,146.5825,"April 09, 24",0.009589,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1763915,2013-02-07,31.00,32.73,31.00,32.00,29.54,3800800,3800800,1.00,3.23000,31.9100,"February 07, 13",0.032300,ZTS
1763916,2013-02-06,30.98,31.43,30.75,31.03,28.64,2126100,2126100,0.05,0.16139,31.0700,"February 06, 13",0.001614,ZTS
1763917,2013-02-05,31.25,31.98,30.85,31.04,28.65,5013200,5013200,-0.21,-0.67200,31.2900,"February 05, 13",-0.006720,ZTS
1763918,2013-02-04,31.09,31.99,30.76,31.02,28.64,7695400,7695400,-0.07,-0.22515,31.2600,"February 04, 13",-0.002252,ZTS
1763919,2013-02-01,31.50,31.74,30.47,31.01,28.63,66789100,66789100,-0.49,-1.56000,31.0700,"February 01, 13",-0.015600,ZTS

In [5]:
df_news = pd.read_csv(news_path)
df_prices = pd.read_csv(prices_path)

FileNotFoundError: [Errno 2] No such file or directory: './data/data-news-intersection.csv'

## Sentiment Analysis Model

In [13]:
from transformers import AutoTokenizer, AutoModelForSequenceClassification

tokenizer = AutoTokenizer.from_pretrained("ProsusAI/finbert")
model = AutoModelForSequenceClassification.from_pretrained("ProsusAI/finbert")

OSError: Model name 'ProsusAI/finbert' was not found in tokenizers model name list (bert-base-uncased, bert-large-uncased, bert-base-cased, bert-large-cased, bert-base-multilingual-uncased, bert-base-multilingual-cased, bert-base-chinese, bert-base-german-cased, bert-large-uncased-whole-word-masking, bert-large-cased-whole-word-masking, bert-large-uncased-whole-word-masking-finetuned-squad, bert-large-cased-whole-word-masking-finetuned-squad, bert-base-cased-finetuned-mrpc, bert-base-german-dbmdz-cased, bert-base-german-dbmdz-uncased). We assumed 'ProsusAI/finbert' was a path or url to a directory containing vocabulary files named ['vocab.txt'] but couldn't find such vocabulary files at this path or url.

In [14]:
model

NameError: name 'model' is not defined

## Time Series Forecasting Model